<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/profile.css">
    <title>Perfil Proveedor</title>
</head>
<body>
    <div class="header">
        <ul class="nav">
            <li><a href="/">Proyectos</a></li>
            <li>|</li>
            <li><a href="/proveedores">Proveedores</a></li>
        </ul>
    </div>
    <div id="profile">
        <image src="images/proovedorProfile-image.png" alt="profile image" height="200" width="200">
        <div id="hunter-information">
            <h2 class="name">Sophie Reynolds</h2>
            <p><span>Capacidades:</span> Desarrollo de aplicaciones móviles, IA & ML, Sistemas Distribuidos.</p>
            <p><span>Especialidad: </span>Desarrollo de aplicaciones móviles para iOS.</p>
            <p><span>Horario: </span> 8:00 - 17:30</p>
            <p><span>Lugar de trabajo: </span> Home office & presencial.</p>
            <p><span>Costo: </span> $400 MXN por hora </p>
            <p><span>Reputación: </span>⭐️⭐️⭐️⭐️⭐️</p>
        </div>
    </div>
    <div id="contact-info">
        <h3>Información de contacto</h3>
        <p><span>Celular: </span>+1-650-513-0514</p>
        <p><span>Email: </span>sophie_reynolds@gmail.com</p>
        <p><span>LinkedIn: </span><a href="#">linkedin/in/sophie-reynolds</a></p>
    </div>
</body>
</html>