<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/forms.css">
    <title>Register new project</title>
</head>
<body>
    <div class="header">
        <h1 id="title">Registro de Proyecto</h1>
        <ul class="nav">
            <li><a href="/">Proyectos</a></li>
            <li>|</li>
            <li><a href="/proveedores">Proveedores</a></li>
        </ul>        
    </div>

    <div id="project-registration-form">
        <form class= "ajax" id="form" method="GET">
            <label>Nombre del proyecto:</label>
            <input type="text" name="Nombre" placeholder="Nombre...">
            
            <label>Descripción:</label>
            <textarea id="" name="Description" cols="40" rows="7" placeholder="Descripción del proyecto..."></textarea>

            <label>Giro de proyecto:</label>
            <input type="text" name="Proyecto" placeholder="Tipo de proyecto...">

            <label>Ubicación: </label>
            <select id="country" name="Country">
                <option value="" disabled selected>País</option>
                <option value="Austraila">Austraila</option>
                <option value="Brazil">Brazil</option>
                <option value="Estados Unidos">Estados Unidos</option>
                <option value="México">México</option>
                <option value="Nueva Zelanda">Nueva Zelanda</option>
            </select>

            <select id="city" name="City">
                <option value="" disabled selected>Ciudad</option>
                <option value="CDMX">CDMX</option>
                <option value="Puebla">Puebla</option>
                <option value="Guadalajara">Guadalajara</option>
            </select>

            <div>
                <div >
                <p><b >Costo de Pubicación<span class="text-success"> $350 MXN</span></b></p>
                </div>
                    <div  class="ms-auto"><p href="" class="text-primary">
                        <i class="fas fa-plus-circle text-primary pe-1">

                        </i>Añadir tarjeta de pago </p>
                    </div>
            </div>
            <input class="apply" type="submit" value="Registrar"></input>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/registration.js"></script>
</body>
</html>