<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/forms.css">
    <title>Register new talent</title>
</head>
<body>
    <div class="header">
        <h1 id="title">Registro de talento</h1>
        <ul class="nav">
            <li><a href="/">Proyectos</a></li>
            <li>|</li>
            <li><a href="/proveedores">Proveedores</a></li>
        </ul>        
    </div>

    <div id="project-registration-form">
        <form class= "ajax" id="form" method="GET">
            <label>Nombre:</label>
            <input type="text" name="nombre" placeholder="Nombre del proveedor">

            <label>Edad:</label>
            <input type="number" name="edad" placeholder="edad..">

            <label>Profeción:</label>
            <input type="text" name="profecion" placeholder="Nombre del proveedor">

            <label>Email:</label>
            <input type="email" name="email" placeholder="jane.doe@example.com" >

            <label>Numero:</label>
            <input type="" name="tel" placeholder="0123456789" >

            <label>Capacidades:</label>
            <textarea  name="habilidades" rows="3" placeholder="ejem1               ejem2               ejem3"></textarea>
            
            <label>Horario de inicio:</label>
            <input type="time" name="horarioEntrada" >

            <label>Horario de cierre:</label>
            <input type="time" name="horarioSalida" >

            <label>Costo/hora:</label>
            <input  type="number" name="salario" placeholder="Formato MXN" class="form-control">

            <label>Ubicación: </label>
            <select id="country" name="Country">
                <option value="" disabled selected>País</option>
                <option value="Austraila">Austraila</option>
                <option value="Brazil">Brazil</option>
                <option value="Estados Unidos">Estados Unidos</option>
                <option value="México">México</option>
                <option value="Nueva Zelanda">Nueva Zelanda</option>
            </select>

            <select id="city" name="City">
                <option value="" disabled selected>Ciudad</option>
                <option value="CDMX">CDMX</option>
                <option value="Puebla">Puebla</option>
                <option value="Guadalajara">Guadalajara</option>
            </select>

            <input class="apply" type="submit" value="Registrar"></input>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/registration.js"></script>
</body>
</html>